@*Changed Model to PriorityLevelViewModel, which allows us to select movies based on priority levels, but we need to use instances of StevenDemoTable object*@
@model Project.Models.PriorityLevelViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 style="font-weight:200">Index</h1>

<div class="row">
    <div class="col">
        <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
    </div>
    
    <div class="col-form-label">
        <form asp-controller="ProjectRequest" asp-action="Index">
            <p>
                @*search for priority*@
                <select asp-for="SearchPriority" asp-items="Model.Priority">
                    <option value="">All</option>
                </select>
                @*search for name*@
                <input type="text" asp-for="SearchName" />
                <input type="submit" value="Filter by Name" class="btn btn-outline-secondary" />

            </p>           
        </form>
    </div>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @*Changed from mode.RequestorName to model.StevenTables[0].RequestorName*@
                @Html.DisplayNameFor(model => model.ProjectRequestTables[0].RequestorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectRequestTables[0].RequestReason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectRequestTables[0].RequestDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectRequestTables[0].RequestChanges)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectRequestTables[0].RequestEffectsOnOrganization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectRequestTables[0].EstimateTimeFrame)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectRequestTables[0].DesiredCompletionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectRequestTables[0].PriorityLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectRequestTables[0].BusinessJustification)
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @*changed from Model to Model.StevenTables*@
        @foreach (var item in Model.ProjectRequestTables)
        {
        <tr style="font-size:14px">
            <td>
                @Html.DisplayFor(modelItem => item.RequestorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestChanges)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestEffectsOnOrganization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimateTimeFrame)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesiredCompletionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriorityLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessJustification)
            </td>
            <td class="btn-group-sm">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-link" style="font-size:small">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-link" style="font-size:small">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-link" style="font-size:small">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

