<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Project Request</title>

    <link href="~/lib/bootstrap-theme-bootswatch-paper/css/paper.css" rel="stylesheet"/>

    <link rel="stylesheet" href="~/css/site.css"/>
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet"/>

    <link href="~/lib/richText/richtext.min.css" rel="stylesheet"/>

    @RenderSection("Styles", false)

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-nav">
        <div class=" navbar-header">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                <img src="~/img/AxiaHorizontalLogo_white.png" alt="Axia Logo" style="max-height: 20px"/>
            </a>
        </div>

        <ul class="nav navbar-nav navbar-right" role="button">

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" style="padding: 10px 50px; padding-bottom: 20.5px; padding-top: 20.5px;">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu">

                    <li>
                        <a asp-controller="ProjectRequest" asp-action="Index">Project Request</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a asp-area="AzureAD" asp-controller="Account" asp-action="SignOut">Sign out</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-area="AzureAD" asp-controller="Account" asp-action="SignIn">Sign In</a>
                        </li>
                    }
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="container body-content">

    @RenderBody()

    <footer class="border-top modal-footer text-muted">
        <div class="container">
            <p style="text-align: center">&copy; @DateTime.Now.Year - ProjectRequest - Axia Home Loans </p>
        </div>
    </footer>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/richText/jquery.richtext.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", false)
<noscript>
    <style>
        body { opacity: 1; }
    </style>
</noscript>

<script type="text/javascript">
    function showContent() {
        document.body.classList.add("all-loaded");
    }

    window.onload = showContent;
</script>
</body>
</html>