@model Project.Request.Web.Models.ProjectRequestViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" style="margin-inline: 50px 50px">
    <div>
        <h2>Edit the Request</h2>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-inline" style="vertical-align: bottom">
                <div class="col-md-12" style="padding-left: initial; padding-right: initial;">
                    <label asp-for="ProjectName" class="control-label"></label>
                    <input asp-for="ProjectName" class="form-control" style="width: 100%" />
                    <span asp-validation-for="ProjectName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group form-inline" style="vertical-align: bottom;">
                <div class="col-md-6" style="padding-left: initial">
                    <label asp-for="RequestorName" class="control-label"></label>
                    <input type="text" asp-for="RequestorName" class="form-control" style="width: 100%" />
                    @*Checking for validation*@
                    <span asp-validation-for="RequestorName" class="text-danger"></span>
                </div>

                <div class="col-md-6" style="padding-left: initial">
                    <label asp-for="DesiredCompletionDate" class="control-label"></label>
                    <input asp-for="DesiredCompletionDate" class="form-control" style="line-height: 27px; width: 100%" />
                    <span asp-validation-for="DesiredCompletionDate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="RequestChanges" class="control-label"></label>
                &nbsp;<label class="fa fa-question-circle-o control-label" data-toggle="tooltip" data-placement="right" title="List out some changes for the proposed project"></label>
                <span asp-validation-for="RequestChanges" class="text-danger"></span>
                <textarea asp-for="RequestChanges" class="form-control"> </textarea>
            </div>
            <div class="form-group">
                <label asp-for="RequestReason" class="control-label"></label>
                &nbsp;<label class="fa fa-question-circle-o control-label" data-toggle="tooltip" data-placement="right" title="Detail reason for requesting this change"></label>
                <span asp-validation-for="RequestReason" class="text-danger"></span>
                <textarea asp-for="RequestReason" class="form-control"> </textarea>
            </div>
            <div class="form-group">
                <label asp-for="RequestDescription" class="control-label"></label>
                &nbsp;<label class="fa fa-question-circle-o control-label" data-toggle="tooltip" data-placement="right" title="Add more details"></label>
                <span asp-validation-for="RequestDescription" class="text-danger"></span>
                <textarea asp-for="RequestDescription" class="form-control"> </textarea>
            </div>

            <div class="form-group">
                <label asp-for="RequestEffectsOnOrganization" class="control-label"></label>
                &nbsp;<label class="fa fa-question-circle-o control-label" data-toggle="tooltip" data-placement="right" title="Address how this change effects the organization"></label>
                <span asp-validation-for="RequestEffectsOnOrganization" class="text-danger"></span>
                <textarea asp-for="RequestEffectsOnOrganization" class="form-control"> </textarea>
            </div>

            @*Priority Level*@
            @{
                var priorityLevel = new List<string>();
                priorityLevel.Add("Low");
                priorityLevel.Add("Medium");
                priorityLevel.Add("High");
                priorityLevel.Add("Emergency");
            }
            <div class="form-group">
                <div class="col-md-3" style="padding-left: initial">
                    @*Priority Level*@
                    <label asp-for="PriorityLevel" class="control-label">Priority Level</label>

                    &nbsp;<label class="fa fa-question-circle-o control-label" data-toggle="tooltip" data-placement="right" title="Select the priority level of this project"></label>
                    @foreach (var priority in priorityLevel)
                    {
                        <br />
                        <label>
                            <input asp-for="PriorityLevel" type="radio" value="@priority" class="form-check" />@priority
                        </label>
                    }

                </div>
                @*Business Justification*@
                <div class="col-md-5" style="padding-left: initial">
                    <label asp-for="BusinessJustification" class="control-label"></label>
                    &nbsp;<label class="fa fa-question-circle-o control-label" data-toggle="tooltip" data-placement="right" title="Select the reasoning for initiating this project"></label>
                    <div class="container" style="padding-left: 0px" onload="">
                        @{
                            var justifications = new List<string> { "Compliance", "Increased Efficiencies", "Cost Savings", "Increased Revenue" };
                        }
                        <div class="row">
                            <div class="col-md-3" style="padding-right: 0px">
                                @foreach (var justification in justifications)
                                {
                                    var check = Model.BusinessJustification.Contains(justification);
                                    <label><input asp-for="CheckedItems" type="checkbox" value="@justification" name="BusinessJustification[]" onclick="clickedValidation()" checked="@check" />@justification &nbsp;</label>
                                }
                            </div>
                            @{
                                justifications = new List<string>();
                                justifications.Add("Regulatory");
                                justifications.Add("Retention");
                                justifications.Add("Upgrade");
                            }
                            <div class="col-md-2">
                                @foreach (var justification in justifications)
                                {
                                    var check = Model.BusinessJustification.Contains(justification);
                                    <label><input asp-for="CheckedItems" type="checkbox" value="@justification" name="BusinessJustification[]" onclick="clickedValidation()" checked="@check" />@justification &nbsp;</label>
                                }
                            </div>
                        </div>
                        <span asp-validation-for="BusinessJustification" class="text-danger" id="validationMessage"></span>
                    </div>
                </div>

                <!--<div class="col-md-3" style="padding-left: initial; padding-right: initial">-->
                @*CostCenter*@
                <!--<label asp-for="DepartmentsId" class="control-label">Department</label>
                    &nbsp;<label class="fa fa-question-circle-o control-label" data-toggle="tooltip" data-placement="right" title="Select the departments affect by this project"></label>
                    <select asp-for="DepartmentsId" class="form-control" style="min-height: 120px; width: 100%;" asp-items="ViewBag.CostCenters" required>
                    </select><span asp-validation-for="DepartmentsId" class="text-danger"></span>
                    <br/>
                </div>-->
                <label asp-for="DepartmentsId" class="control-label">Department</label>
                &nbsp;<label class="fa fa-question-circle-o control-label" data-toggle="tooltip" data-placement="right" title="Select the departments affect by this project"></label>
                <br>
                <div class="col-md-4" style="padding-left: initial; padding-right: initial; overflow-y:scroll; height:150px" onsubmit="return validationDepartments()">



                    @foreach (var items in ViewBag.CostCenters)
                    {
                        var check = Model.Departments.Contains(items.Value);
                        <label>
                            <input type="checkbox" value="@items.Value" name="DepartmentsId[]" onclick="clickedValidationDepartment()" checked="@check" /> @items.Value &nbsp;

                        </label>
                        <br />
                    }
                    <span asp-validation-for="DepartmentsId" class="text-danger" id="validationMessageDepartment"></span>
                    <br />
                </div>

            </div>
            <div style="padding-top:100px">
                <a asp-action="Index" class="btn btn-outline-secondary" style="font-size: smaller">Back to List</a>
                <input type="submit" value="Save" class="btn btn-primary" style="font-size: smaller" onclick="return validation()" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}