@model StevenDemoWebsite.Models.StevenDemoTable

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 ">
            @Html.DisplayNameFor(model => model.RequestorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestReason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestReason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestChanges)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestChanges)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestEffectsOnOrganization)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestEffectsOnOrganization)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PriorityLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriorityLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DesiredCompletionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DesiredCompletionDate)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary">Edit</a>
    <a asp-action="Index" class="btn btn-outline-secondary ">Back to List</a>
</div>
