@model IEnumerable<StevenDemoWebsite.Models.StevenDemoTable>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 style="font-weight:200">Index</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>

    <form asp-controller="StevenDemoTables" asp-action="Index">
        <input type="text" name="searchName" />
        <input type="submit" value="Filter by Name" class="btn btn-outline-secondary" />
    </form>
</p>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequestorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestReason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestChanges)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestEffectsOnOrganization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimateTimeFrame)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesiredCompletionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriorityLevel)
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="font-size:14px">
                <td>
                    @Html.DisplayFor(modelItem => item.RequestorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestReason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestChanges)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestEffectsOnOrganization)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstimateTimeFrame)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DesiredCompletionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriorityLevel)
                </td>

                <td class="btn-group">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-link" style="font-size:small">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-link" style="font-size:small">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-link" style="font-size:small">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

